@using jail.Models
@using jail.Models.Controls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAIL - @ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="mainLogoRef" class="navbar-brand pull-left" href="~/">
                    <img src="@Url.Content("~/Images/logo.png")" alt="JAIL" title="JAIL"/>JAIL
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Search", "Index", "Home")</li>
                    <li>@Html.ActionLink("History", "History", "Home")</li>
                    <li>@Html.ActionLink("Convert", "UploadFile", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Help
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        var user = Request.IsAuthenticated ? HttpContext.Current.Session["User"] as UserProfile : null;
                        if (user != null)
                        {
                            if (user.TimeTrackId > 0)
                            {
                                <li>@Html.ActionLink("Time", "Time", "Home")</li>
                            }
                            if (user.UserType == UserType.Administrator)
                            {
                                <li>@Html.ActionLink("Users", "Users", "Home")</li>
                                <li>@Html.ActionLink("Log", "Log", "Home")</li>
                            }
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user"></span>
                                    @user.Email
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" onclick="EditPassword(@user.Id);">
                                            <span class="glyphicon glyphicon-lock"></span>Change password
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout", "Home")">
                                            <span class="glyphicon glyphicon-log-out"></span> Log Off
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="disabled">
                                <a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Login", "Home")">
                                    <span class="glyphicon glyphicon-log-in"></span> Login
                                </a>
                            </li>
                        }
                    }
                </ul>         
            </div>
        </div>
    </div>
    
    <div id="wrapper" class="container body-content">
        <div id="main" class="clearfix">
            @RenderBody()
        </div>
    </div>
    <div id='ajax_loader' style="position: fixed; left: calc(50% - 60px); top: calc(50% - 60px); display: none;">
        <img src="~/Images/loader.gif" />
    </div>

@Html.Partial("Controls/_ModalPopupControl", new ModalPopupControlViewModel("NotificationPopup")
                                            {
                                                OkButtonText = "OK"
                                            })
@{
    const string modalPopupId = "PasswordModalPopup";
}
    
@Html.Partial("Controls/_ModalPopupControl", new ModalPopupControlViewModel(modalPopupId)
                                             {
                                                 OkButtonText = "Create",
                                                 CloseButtonText = "Cancel",
                                                 Title = "Set password",
                                                 Template = "~/Views/Home/_PasswordChange.cshtml",
                                                 TemplateViewData = new ViewDataDictionary { Model = new ChangePasswordModel() },
                                                 IsManagePopup = true,
                                                 AfterSaveCallback = "AfterSavePasswordCallbackEvent"
                                             })

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        function ShowImage(imghref) {
            window.Helper.ShowNotificationPopup('<img width="570px" height="auto" src="' + imghref + '" />', window.HelperItem.NotificationType.Image);
        }
        function EditPassword(id) {
            var modalPopup = window.Pages.Controls["@modalPopupId"];
            var popupHolder = modalPopup.ModalId;
            $("#" + popupHolder).find(".modal-body").load("@Url.Action("PasswordChange", "Home")?id=" + id, function () {
                modalPopup.Show("Change password", "Save");
            });
        }
        AfterSavePasswordCallbackEvent = function (response) {
            var modalPopup = window.Pages.Controls["@modalPopupId"];
            if (response.id) {
                modalPopup.Close();
                window.Helper.ShowSuccess(response.message);
                if (window.RefreshUsers)
                    window.RefreshUsers();
            } else {
                $("#" + modalPopup.ModalId).find(".modal-body").html(response);
            }
        };
        jQuery(function ($) {
            $(document).ajaxStop(function () {
                $("#ajax_loader").hide();
            });
            $(document).ajaxStart(function () {
                $("#ajax_loader").show();
            });
        });
    </script>
    </body>
    </html>
