@model jail.Models.ChangePasswordModel
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#HasPassword').val() == 'False') {
            $('#OldPasswordBlock').hide();
            $('#btnSetPassword').val("Set Password");
        }
    });
</script>

<div id="editorContainer">
    @using (Html.BeginForm("PasswordChange", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal row-border">
            <h5>Change password for: @Model.Username</h5>
            <br/>
            <div class="valid-summary bg-danger text-center">
                @Html.ValidationSummary(true, "Operation was unsuccessful. Please correct the errors and try again")
            </div>
            <div class="form-group" style="width:90%;margin-left: 15px;">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Username)
                @Html.HiddenFor(m => m.HasPassword)
                <div id="OldPasswordBlock" class="form-group">
                    @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control", placeholder = "Old Password"})
                    @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control", placeholder = "New Password"})
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Confirm New Password"})
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
</div>
