@model jail.Models.BookInfo

<h2>@Model.Title</h2>
<h4>
    @{Html.RenderPartial("AuthorsList", Model.Authors);}
</h4>
<p>
    @{Html.RenderPartial("SequencesList", Model.Sequences);}
</p>
<hr />

@Html.HiddenFor(modelItem => modelItem.ArchiveFileName)
@Html.HiddenFor(modelItem => modelItem.FileName)
@Html.HiddenFor(modelItem => modelItem.IdArchive)
@Html.HiddenFor(modelItem => modelItem.Id)
<div class="panel-body">
    <div class="col-md-2">
        @if (ViewBag.Image != null)
        {
            @: <img src="@ViewBag.Image" style="width: 100%; height: auto;"/>
        }
    </div>
    <div class="col-md-10">
        <p>
            @Html.Raw(Model.Description)
        </p>
    </div>
</div>
<div>
    Registered: @Html.DisplayFor(modelItem => modelItem.CreatedDate)
</div>
<hr />
<div>
    Download <a href='@Url.Action("download", new { id = Model.Id })' title="Get .fb2 file"><b>.fb2</b></a> book (@Html.DisplayFor(modelItem => modelItem.FileSizeStr))
    or
    <a href='@Url.Action("mobi", new { id = Model.Id })' title="Get .mobi file"><b>Prepare for kindle</b></a>
</div>
<div>
    Read book <a href='@Url.Action("read", new { id = Model.Id })' title="Read .fb2 file"><b>@Html.DisplayFor(modelItem => modelItem.Title)</b></a>
</div>
