@model jail.Models.BookDetailedInfo

<h2>@Model.Title</h2>
<h4>
    @{Html.RenderPartial("AuthorsList", Model.Authors);}
</h4>
<p>
    @{Html.RenderPartial("SequencesList", Model.Sequences);}
</p>
<div>
    File: @Html.DisplayFor(modelItem => modelItem.FileSizeStr)
</div>
<div>
    Registered: @Html.DisplayFor(modelItem => modelItem.CreatedDate)
</div>
<br />
<div>
    <a class="btn btn-default" href='@Url.Action("read", new { id = Model.Id })' title="Read .fb2 file">Read book</a>
    <a class="btn btn-success" href='@Url.Action("download", new { id = Model.Id })' title="Get FB2 file">FB2 file</a>
    <a class="btn btn-info" href='@Url.Action("mobi", new { id = Model.Id })' title="Get MOBI file">File for kindle</a>
</div>
<hr />

@Html.HiddenFor(modelItem => modelItem.FileName)
@Html.HiddenFor(modelItem => modelItem.IdArchive)
@Html.HiddenFor(modelItem => modelItem.Id)
<div class="panel-body">
    <div class="col-md-2">
        @if (ViewBag.Image != null)
        {
            @: <img src="@ViewBag.Image" style="width: 100%; height: auto;"/>
        }
    </div>
    <div class="col-md-10">
        <p>
            @Html.Raw(Model.Description)
        </p>
    </div>
</div>
<hr />