@using jail.Models
@model BookFavoritesViewModel
@{
    ViewBag.Title = "Favorites";
}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#searchBlock").keydown(function(event) {
            if (event.keyCode === 13) {
                window.Helper.delay(function () { SearchFavorites(); }, 1000);
            }
        });
    });

    function SearchFavorites() {
        window.location.reload();
    };

    function DeleteFavorite(id, title, rowId) {
        if (!confirm("Are you sure you want to remove your recomendation for '" + title + "'?"))
            return;
        $.ajax({
            url: '@Url.Action("FavoriteDelete")',
            type: "DELETE",
            data: { id: id },
            success: function (data) {
                $('#' + rowId).remove();
                //SearchFavorites();
            },
            error: function (response, status, error) {
                window.Helper.ShowError(error);
            }
        });
    }

    </script>

<div class="search-wrapper">
    <div class="btn-toolbar input-group">
        @* <input id="searchBlock" type="text" class="form-control" aria-label="..." placeholder="Start type to search..."> *@
        @* <div class="input-group-btn"> *@
        @*     <button type="button" class="btn btn-primary" onclick="SearchFavorites();" title="Search"> *@
        @*         <i class="glyphicon glyphicon-search"></i> *@
        @*     </button> *@
        @* </div> *@
        <div class="input-group-addon">
            <span>
                @(1 + Model.Skipped) - @(Model.Skipped + Model.Data.Count()) / @Model.TotalCount
            </span>
        </div>
        <div class="input-group-btn">
            <a class="btn btn-info @(Model.Page > 0 ? "" : "disabled")" role="button"
               href='@Url.Action("Favorites", new { id = ViewBag.Id, pageNum = 0 })' title="First page">&lt;&lt;
            </a>
        </div>
        <div class="input-group-btn">
            <a class="btn btn-default @(Model.Page > 0 ? "" : "disabled")" role="button"
               href='@Url.Action("Favorites", new { id = ViewBag.Id, pageNum = Model.Page - 1 })' title="Prev page">&lt;
            </a>
        </div>
        <div class="input-group-addon">
            <span>
                @(Model.NumberOfPages < Model.Page ? 1 : Model.Page+1) / @Model.NumberOfPages
            </span>
        </div>
        <div class="input-group-btn">
            <a class="btn btn-default @(Model.Page < Model.NumberOfPages-1 ? "" : "disabled")" role="button"
               href='@Url.Action("Favorites", new { id = ViewBag.Id, pageNum = Model.Page + 1 })' title="Next page">&gt;
            </a>
        </div>
        <div class="input-group-btn">
            <a class="btn btn-info @(Model.Page < Model.NumberOfPages-1 ? "" : "disabled")" role="button"
               href='@Url.Action("Favorites", new { id = ViewBag.Id, pageNum = Model.NumberOfPages-1 })' title="Last page">&gt;&gt;
            </a>
        </div>
        @{
            var user = Request.IsAuthenticated ? HttpContext.Current.Session["User"] as UserProfile : null;
            if (user != null && user.FlibustaId > 0)
            {
                <div class="input-group-btn">
                    <button type="button" class="btn btn-warning" onclick="UpdateUserFavorites(@user.Id, SearchFavorites);" title="Fetch favorites">
                        <i class="glyphicon glyphicon-cloud-download"></i>
                    </button>
                </div>
            }
        }
    </div>
</div>
<div class="clearfix"></div>
<div id="gridDataContainer">
    <table class="table table-bordered table-hover">
        <tr>
            <th data-defaultsort="asc" style="min-width: 220px;">Title</th>
            <th style="min-width: 150px; width: 25%;">Author</th>
            <th style="min-width: 150px; width: 25%;">Sequence</th>
            <th style="min-width: 140px; width: 120px;">Date</th>
            @*<th style="min-width: 80px; width: 80px;">User Id</th>*@
            <th style="min-width: 50px; width: 50px;"></th>
        </tr>

        @if (Model != null && Model.Data.Any())
        {
            foreach (var item in Model.Data)
            {
                var rowId = string.Format("favRow{0}", item.FavoriteId);
                <tr id="@rowId">
                    <td>
                        <a href='@Url.Action("details", new {id = item.Id})' title="Book details">
                            <b>@Html.DisplayFor(modelItem => item.Title)</b>
                        </a>
                    </td>
                    <td>@{ Html.RenderPartial("AuthorsList", item.Authors); }</td>
                    <td>
                        @if (item.Sequences.Count > 0)
                        {
                            Html.RenderPartial("SequencesList", item.Sequences);
                        }
                        else
                        {
                            <br />}
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.DateAdded)</td>
                    @*<td>
                            @{ var flibustaLink = "http://flibusta.is/user/" + item.UserId; }
                            <a href=@flibustaLink> @Html.DisplayFor(modelItem => item.UserId)</a>
                        </td>*@
                    <td>
                        <a href="#" onclick="DeleteFavorite(@item.FavoriteId, '@item.Title', '@rowId');" class="btn btn-danger" title="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
