@using jail.Models
@model IEnumerable<BookHistoryInfo>
@{
    ViewBag.Title = "History";
    var user = (UserProfile)HttpContext.Current.Session["User"];
}
<script type="text/javascript">
    function DeleteHistoryItem(id, fileName) {
        if (!confirm("Are you sure you want to remove '" + fileName + "' from history?"))
            return;
        $.ajax({
            url: '@Url.Action("HistoryDelete")',
            type: 'DELETE',
            data: { id: id, fileName: fileName },
            success: function () { window.location.reload(false); },
            error: function (response, status, error) {
                if (error && error.length > 0)
                    window.Helper.ShowError(error);
                else
                    window.Helper.ShowError("Failed! Something has gone wrong. Please contact a system administrator");
            }
        });
    }
</script>

<h2>
    Last viewed books <small>(@ViewBag.TotalSize used)</small>
</h2>
<div id="gridDataContainer">
    <table class="table table-bordered table-hover">
        <tr>
            <th style="min-width: 60px; width: 60px;"></th>
            <th style="min-width: 220px; width: 50%">Title</th>
            <th style="min-width: 150px; width: 20%;">Author</th>
            <th style="min-width: 150px; width: 20%;">Sequence</th>
            <th style="min-width: 140px; width: 140px;">Generated</th>
            @if (user != null && user.UserType == UserType.Administrator)
            {
                <th style="min-width: 50px; width: 50px;"></th>
            }
        </tr>

        @if (Model != null && Model.Any())
        {
            foreach (var item in Model) {
                <tr>
                    <td>
                        <img src="@Url.Action("Book", new { bookId = item.Id, fileName = "cover.jpg"})" class="img-list-preview" alt=""/>
                    </td>
                    <td>
                        @if (item.Id > 0) {
                            <a href='@Url.Action("details", new {id = item.Id})' title="Book details">
                                <b>@Html.DisplayFor(modelItem => item.Title)</b>
                            </a>
                        }
                        else {
                            <b>@Html.DisplayFor(modelItem => item.Title)</b>
                        }
                    </td>
                    <td>
                        @{ Html.RenderPartial("AuthorsList", item.Authors); }
                    </td>
                    <td>
                        @if (item.Sequences.Count > 0) {
                            Html.RenderPartial("SequencesList", item.Sequences);
                        }
                        else {
                            <br/>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.GeneratedTime)</td>
                    @if (user != null && user.UserType == UserType.Administrator) {
                        <td>
                            <a href="#" onclick="DeleteHistoryItem(@item.Id, encodeURI('@item.FileName'));" class="btn btn-danger" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    }
                </tr>
            }
        }
    </table>
</div>
