@using jail.Controllers
@using jail.Models
@model IEnumerable<SystemLog>

@{
    ViewBag.Title = "Log";
}
<script type="text/javascript">
    var autoRefreshTimer = null;
    $(document).ready(function () {
        $("#filterBlock").keyup(function () {
            window.Helper.delay(function () { RefreshData(true); }, 1000);
        });
        $(".dropdown-menu.change-name").on('click', 'li a', function () {
            var selectedItemText = $(this).text();
            var selectedItemSearchType = $(this).attr("data-search-type");

            $(this).parents("li").addClass("selected");
            $(this).parents("ul").find("li").removeClass("selected");
            $("#filterBlock").attr("data-search-type", selectedItemSearchType);
            var btnIdToChange = $(this).parents(".dropdown-menu.change-name").attr("data-change-item-id");
            $("#" + btnIdToChange).html(selectedItemText + " <span class='caret'></span>");
            RefreshData(true);
        });

        $("#filterBlock").val('@ViewBag.Key');
        $("#filterBlock").attr("data-search-type", @ViewBag.SearchType);
    });
    function RefreshData(reloadOnError) {
        var search = $("#filterBlock");
        var key = $.trim(search.val());
        var searchType = search.attr("data-search-type");
        var link = '@Url.Action("Log")' + '?t=' + searchType + '&k=' + key;
        window.history.pushState({ state: link }, 'Log', link);
        $.ajax({
            type: "GET",
            url: '@Url.Action("LogPartial")',
            data: { key: key, searchType: searchType },
            success: function (response) {
                $("#gridDataContainer").html(response);

                if (autoRefreshTimer) {
                    window.clearTimeout(autoRefreshTimer);
                }
                autoRefreshTimer = window.setTimeout(function () {
                    autoRefreshTimer = null;
                    RefreshData(true);
                }, 60000);
            },
            error: function (response, status, error) {
                if (reloadOnError)
                    location.reload();
                else
                    window.Helper.ShowError(error);
            }
        });
    }
    function ClearSelectedLogs() {
        var text = "";
        if (window.getSelection) {
            text = window.getSelection().toString();
        } else if (document.selection && document.selection.type !== "Control") {
            text = document.selection.createRange().text;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ClearSelectedLog")',
            data: { selection: text },
            success: function (data) {
                window.Helper.ShowWarning('' + data, function () { RefreshData(true); });
            },
            error: function (data) { window.Helper.ShowError('' + data); }
        });
    }
    function CalcSelectedLogs() {
        var text = "";
        if (window.getSelection) {
            text = window.getSelection().toString();
        } else if (document.selection && document.selection.type !== "Control") {
            text = document.selection.createRange().text;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CalcSelectedLog")',
            data: { selection: text },
            success: function (data) {
                window.Helper.ShowSuccess('' + data);
            },
            error: function (data) { window.Helper.ShowError('' + data); }
        });
    }
</script>
<div class="search-wrapper">
    <div class="input-group pull-left">
        <input id="filterBlock" type="text" class="form-control" aria-label="..."
               data-search-type="@ViewBag.SearchType"
               placeholder="Search by message, user or IP...">
        <div class="input-group-btn">
            <button id="searchTypeBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                @ViewBag.SearchType<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right change-name" data-change-item-id="searchTypeBtn">
                @foreach (var item in Enum.GetValues(typeof(SystemLog.LogItemType)))
                {
                    <li><a href="#" data-search-type="@item">@item.ToString()</a></li>
                }
            </ul>
        </div>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary" onclick="RefreshData();" title="Search">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
        <div class="input-group-btn">
            <button type="button" class="btn btn-success" onclick="CalcSelectedLogs();" title="Count selected">
                <i class="glyphicon glyphicon-check"></i>
            </button>
        </div>
        <div class="input-group-btn">
            <button type="button" class="btn btn-danger" onclick="ClearSelectedLogs();" title="Remove selected">
                <i class="glyphicon glyphicon-minus"></i>
            </button>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div id="gridDataContainer" style="height: calc(100% - 25px);">
    @{Html.RenderPartial("LogPartial", Model);}
</div>
<div class="clearfix"></div>
<div id="footer">
    <footer>
        &copy; @DateTime.Now.Year - JAIL (Just Another Internet Library)
        <p>@HomeController.GetVersionString(); Build time: @HomeController.GetVersionBuildTime()</p>
    </footer>
</div>
