@using jail.Controllers
@model jail.Models.LogOnModel
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin", @style = "width:400px;" }))
{
    <div>
        <div class="form-signin-heading">
            <img src="@Url.Content("~/Images/logo.png")" alt="Jail Admin" title="Jail Admin" width="100px" />
            <br />
            <h4>Please enter your credentials:</h4>
            <br />
            @Html.ValidationSummary(true, "Please correct the errors and try again", new Dictionary<string, object>
            {
                {"class", "text-danger"}
            })
        </div>
        @Html.LabelFor(m => m.UserName, new { @for = "username", @class = "sr-only" })
        @Html.TextBoxFor(m => m.UserName, new { id = "username", @class = "form-control", placeholder = "Email Address" })
        <br />
        @Html.LabelFor(m => m.Password, new { @for = "inputPassword", @class = "sr-only" })
        @Html.PasswordFor(m => m.Password, new { id = "inputPassword", @class = "form-control", placeholder = "Password" })

        @Html.HiddenFor(m => m.RedirectUrl)
@*            <div class="checkbox">*@
@*                @Html.CheckBoxFor(m => m.RememberMe)*@
@*                @Html.LabelFor(m => m.RememberMe)*@
@*            </div>*@
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        <br />
@*        <div>*@
@*            <span style="float:left; display: none;">*@
@*                @Html.ActionLink("Forgot password?", "PasswordRequest", "Users")*@
@*            </span>*@
@*            <span style="float:right; display: none;">*@
@*                @Html.ActionLink("Register", "Registration", "Users")*@
@*            </span>*@
@*        </div>*@
    </div>
}

<div id="footer">
    <footer>
        &copy; @DateTime.Now.Year - JAIL (Just Another Internet Library)
        <p>@HomeController.GetVersionString()</p>
    </footer>
</div>    