@using jail.Models
@model IEnumerable<SystemLog>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th style="min-width: 80px; width: 130px;">Time</th>
        <th style="min-width: 200px;">Message</th>
        <th style="min-width: 60px; width: 60px;">User</th>
        <th style="min-width: 60px; width: 60px;">Address</th>
        @if (ViewBag.DebugMode)
        {
            <th style="min-width: 60px; width: 60px;">Machine</th>
        }
        <th style="width: 50px;">Level</th>
    </tr>

    @foreach (var item in Model)
    {
        var rowClass = "";
        switch (item.Level)
        {
            case SystemLog.LogItemType.Error:
                rowClass = "danger";
                break;
            case SystemLog.LogItemType.Warn:
                rowClass = "warning";
                break;
            case SystemLog.LogItemType.Info:
                rowClass = "success";
                break;
            case SystemLog.LogItemType.Debug:
                rowClass = "info";
                break;
            case SystemLog.LogItemType.Trace:
                rowClass = "active";
                break;
        }
    <tr class="@rowClass">
        <td>@Html.DisplayFor(modelItem => item.EnteredDate)</td>
        @if (!string.IsNullOrWhiteSpace(item.Exception))
        {
            <td style="max-width: calc(100vw - 300px); word-wrap: break-word;">
                <details>
                    <summary style="word-wrap: break-word;max-width: calc(100vw - 300px); ">@Html.DisplayFor(modelItem => item.Message)</summary>
                    <p>@Html.DisplayFor(modelItem => item.Exception)</p>
                </details>
            </td>
        }
        else
        {
            <td style="word-wrap: break-word; max-width: calc(100vw - 800px);">@Html.DisplayFor(modelItem => item.Message)</td>
        }
        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
        <td>@Html.DisplayFor(modelItem => item.CallerAddress)</td>
        @if (ViewBag.DebugMode)
        {
            <td>@Html.DisplayFor(modelItem => item.MachineName)</td>
        }
        <td>@Html.DisplayFor(modelItem => item.Level)</td>
    </tr>
    }
</table>
