@using jail.Models
@model IEnumerable<BookInfo>
@{
    var user = Request.IsAuthenticated ? HttpContext.Current.Session["User"] as UserProfile : null;
}
<div id="list-group">
    <table class="table table-bordered table-hover">
        <tr>
            <th style="min-width: 220px;">Title</th>
            @if (ViewBag.AuthorMode == null || !ViewBag.AuthorMode)
            {
                <th style="min-width: 150px; width: 150px;">Author</th>
            }
            @if (ViewBag.SequenceMode == null || !ViewBag.SequenceMode)
            {
                <th style="min-width: 150px; width: 150px;">Sequence</th>
            }
            else
            {
                <th style="min-width: 30px; width: 30px;">#</th>
            }
            <th style="min-width: 90px; width: 90px;">Registered</th>
            <th style="min-width: 90px; width: 90px;">File</th>
            @if (user != null)
            {
                <th style="min-width: 50px; width: 50px;"></th>
            }
        </tr>

        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.Id)
            @Html.HiddenFor(modelItem => item.IdArchive)
            @Html.HiddenFor(modelItem => item.FileName)
            <a href='@Url.Action("details", new {id = item.Id})' title="Book details">
                <b>@Html.DisplayFor(modelItem => item.Title)</b>
            </a>
            <small style="float: right;">@Html.DisplayFor(modelItem => item.Lang)</small>
        </td>
        @if (ViewBag.AuthorMode == null || !ViewBag.AuthorMode)
        {
            <td>@{ Html.RenderPartial("AuthorsList", item.Authors); }</td>
        }
        <td>
            @if (ViewBag.SequenceMode == null || !ViewBag.SequenceMode)
            {
                if (item.Sequences.Count > 0)
                {
                    Html.RenderPartial("SequencesList", item.Sequences);
                }
            }
            else
            {
                if (item.BookOrder > 0)
                {
                    @Html.DisplayFor(modelItem => item.BookOrder)
                }
            }
        </td>
        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
        <td>
            <a class="btn btn-default" href='@Url.Action("download", new { id = item.Id })' title="Get FB2 file">
                <span class="glyphicon glyphicon-save"></span>
                @Html.DisplayFor(modelItem => item.FileSizeStr)
            </a>
        </td>
        @if (user != null)
        {
            <td>
                <a href="#" onclick="ToggleFavorite(@item.Id, '@item.Title');" class="btn btn-default" title="Add favorite">
                    <span id="@string.Format("Fav{0}", item.Id)" 
                          class='glyphicon @string.Format("glyphicon-heart{0}", item.FavoriteId > 0 ? "" : "-empty")'></span>
                </a>
            </td>
        }
    </tr>
            }
        }
    </table>
</div>
