@using jail.Classes
@using jail.Models
@model IEnumerable<BookInfo>
@{
    var user = Request.IsAuthenticated ? HttpContext.Current.Session["User"] as UserProfile : null;
    var flibustaLink = SettingsHelper.FlibustaLink;
}
<div id="list-group">
    <table class="table table-bordered table-hover">
        <tr>
            <th style="min-width: 40px; width: 40px;"></th>
            <th style="min-width: 220px; width: 50%;">Title</th>
            @if (ViewBag.AuthorMode == null || !ViewBag.AuthorMode)
            {
                <th style="min-width: 150px; width: 20%;">Author</th>
            }
            @if (ViewBag.SequenceMode == null || !ViewBag.SequenceMode)
            {
                <th style="min-width: 150px; width: 20%;">Sequence</th>
            }
            else
            {
                <th style="min-width: 30px;">#</th>
            }
            <th style="min-width: 90px;">Registered</th>
            <th style="min-width: 130px;">File</th>
            @if (user != null)
            {
                <th style="min-width: 150px;">Actions</th>
            }
        </tr>

        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
    <tr id="@string.Format("book_row_{0}", item.Id)">
        <td>
            <img src="@Url.Action("Book", new { bookId = item.Id, fileName = "cover.jpg"})" class="img-list-preview" alt=""/>
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.Id)
            @Html.HiddenFor(modelItem => item.IdArchive)
            @Html.HiddenFor(modelItem => item.FileName)
            <a href='@Url.Action("details", new {id = item.Id})' title="Book details">
                <b>@Html.DisplayFor(modelItem => item.Title)</b>
            </a>
            @if (user != null && user.UserType == UserType.Administrator) {
                <a id="@string.Format("book_set_lang_{0}", item.Id)" href="#" onclick="SetBookLang(@item.Id, 'ru');" style="float: right;" class="btn btn-warning" title="Set language">
                    <span class="glyphicon glyphicon-erase"></span>
                </a>
            }
            <small id="@string.Format("book_lang_{0}", item.Id)" style="float: right;">@item.Lang</small>
        </td>
        @if (ViewBag.AuthorMode == null || !ViewBag.AuthorMode)
        {
            <td>@{ Html.RenderPartial("AuthorsList", item.Authors); }</td>
        }
        <td>
            @if (ViewBag.SequenceMode == null || !ViewBag.SequenceMode)
            {
                if (item.Sequences.Count > 0)
                {
                    Html.RenderPartial("SequencesList", item.Sequences);
                }
            }
            else
            {
                if (item.BookOrder > 0)
                {
                    @Html.DisplayFor(modelItem => item.BookOrder)
                }
            }
        </td>
        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
        <td>
            <a class="btn btn-default" href='@Url.Action("download", new { id = item.Id })' title="Get .fb2 file">
                <span class="blue glyphicon glyphicon-save"></span>
            </a>
            @Html.DisplayFor(modelItem => item.FileSizeStr)
        </td>
        @if (user != null)
        {
            <td>
                <a href="#" onclick="ToggleFavorite(@item.Id, '@item.Title');" class="btn btn-default" title="@string.Format("{0} favorite", item.FavoriteId > 0 ? "Remove" : "Add")">
                    <span id="@string.Format("Fav{0}", item.Id)"
                          class='red glyphicon @string.Format("glyphicon-heart{0}", item.FavoriteId > 0 ? "" : "-empty")'></span>
                </a>
                <a href="@string.Format("{0}/b/{1}", flibustaLink, item.Id)" target="_blank" class="btn btn-default" title="Flibusta version">
                    <span class='glyphicon glyphicon-link'></span>
                </a>
            @if (user.UserType == UserType.Administrator) {
                <a href="#" onclick="DeleteBookById(@item.Id);" class="btn btn-danger" title="Delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            }
            </td>
        }
    </tr>
            }
        }
    </table>
</div>
