@using jail.Models
@model IEnumerable<CheckItem>
    
<table  class="table table-striped table-bordered table-condensed table-hover" id="timeGrid">
    <thead>
        <tr>
            <th data-defaultsort="asc" style="min-width: 80px; width: 125px;">@Html.DisplayNameFor(model => model.Date)</th>
            <th style="min-width: 65px; width: 65px;">@Html.DisplayNameFor(model => model.CheckInTime)</th>
            <th style="min-width: 65px; width: 65px;">@Html.DisplayNameFor(model => model.CheckOutTime)</th>
            <th style="min-width: 65px; width: 60px;">@Html.DisplayNameFor(model => model.Duration)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.UserId)
                    @Html.DisplayFor(modelItem => item.Date)
                    @* @Html.TextBoxFor(modelItem => item.Date, "{0:dd/MM/yyyy}") *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOutTime)
                </td>
                <td class="@(item.Duration.Hours < 8 ? "warning" : item.Duration.Hours >= 9 ? "danger" : "success")">
                    @Html.DisplayFor(modelItem => item.Duration)
                    @* @Html.TextBoxFor(modelItem => item.Duration, "{0:hh\\:mm}") *@
                </td>
            </tr>
        }
    </tbody>
</table>
