@using jail.Classes
@using jail.Models
@model IEnumerable<UserProfile>
    
@{
    var user = (UserProfile)HttpContext.Current.Session["User"];
    var flibustaLink = SettingsHelper.FlibustaLink;
}
<table  class="table table-striped table-bordered table-condensed table-hover" id="usersGrid">
    <thead>
        <tr>
            <th data-defaultsort="asc">@Html.DisplayNameFor(model => model.Email)</th>
            <th style="min-width: 60px; width: 60px;">@Html.DisplayNameFor(model => model.TimeTrackId)</th>
            <th style="min-width: 60px; width: 60px;">@Html.DisplayNameFor(model => model.FlibustaId)</th>
            <th style="min-width: 60px; width: 60px;">@Html.DisplayNameFor(model => model.Active)</th>
            <th style="min-width: 125px; width: 125px;">@Html.DisplayNameFor(model => model.RegisteredTime)</th>
            <th style="min-width: 185px; width: 185px;" data-defaultsort='disabled'></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="@(item.UserType == UserType.User ? "success" : item.UserType == UserType.Administrator ? "danger" : "info")">
                @Html.HiddenFor(modelItem => item.Id)
                @Html.HiddenFor(modelItem => item.UserType)
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (item.TimeTrackId > 0)
                {
                    @Html.DisplayFor(modelItem => item.TimeTrackId)
                }
            </td>
            <td>
                @if (item.FlibustaId > 0)
                {
                    <a href='@string.Format("{0}/rec?view=recs&adata=name&bdata=id&user={1}&udata=id", flibustaLink, item.FlibustaId)' target="_blank"> @Html.DisplayFor(modelItem => item.FlibustaId)</a>
                    @* <a href='@string.Format("http://flibusta.is/user/{0}", item.FlibustaId)'> @Html.DisplayFor(modelItem => item.FlibustaId)</a> *@
                }
            </td>
            <td class="@(item.Active ? "success" : "warning")">
                @Html.DisplayFor(modelItem => item.ActiveText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredTime)
            </td>
            <td class="col-md-2">
                <div class="dropdown">
                    <a href="#" onclick="EditUser(@item.Id);" class="btn btn-success" title="Edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdownMenu" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        Manage<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="userDropdownMenu">
                        @if (item.TimeTrackId > 0)
                        {
                            <li>
                                <a href='@Url.Action("Time", new { id = item.TimeTrackId })' class="btn-default">
                                    <span class="glyphicon glyphicon-time"></span> Time
                                </a>
                            </li>
                        }
                        <li>
                            <a href='@Url.Action("Favorites", new { id = item.Id })' class="btn-default">
                                <span class="red glyphicon glyphicon-heart"></span> Favorites
                            </a>
                        </li>
                        @if (item.FlibustaId > 0)
                        {
                            <li>
                                <a href='#' onclick="UpdateUserFavorites(@item.Id, null);" class="btn-default">
                                    <span class="blue glyphicon glyphicon-cloud-download"></span> Fetch favorites
                                </a>
                            </li>
                        }
                        <li>
                            <a href="#" onclick="EditPassword(@item.Id);" class="btn-block">
                                <span class="green glyphicon glyphicon-edit"></span>
                                @if (item.HasPassword)
                                {
                                    <text>Change Password</text>
                                }
                                else
                                {
                                    <text>Set Password</text>
                                }
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ResetUserPassword(@item.Id);" class="btn-default">
                                <span class="red glyphicon glyphicon-erase"></span> Reset Password
                            </a>
                        </li>
                    </ul>
                    @if (user.Id != item.Id)
                    {
                        <a href="#" onclick="DeleteUser(@item.Id);" class="btn btn-danger" title="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    }
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
